/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Цвет акцента #2196F3 */
/* Цвета эмблемы #000000 #FFFFFF  */
/* Цвет заголовка героя и адреса #FFFFFF */
/* Цвет контактов в футере rgba(255, 255, 255, 0.6); */
/* Цвет шапки #FFFFFF */
/* Цвет основного фона #E5E5E5 */
/* Цвет вторичного фона #F5F4FA */
/* Цвет фона в футере #2F303A */

body {
  background-color: #e5e5e5;
  color: #212121;
}
ul {
  list-style: none;
}
header {
  background-color: #ffffff;
}
.logo {
  color: #000000;
}
